<header class="bg-light-blue navbar p-3">
  <div class="container-fluid d-flex justify-content-between">
    <div class="brand-logo">
      <a class="navbar-brand link-light">RH Vagas</a>
    </div>
    <div class="navbar-text">
      <a
        href="#"
        class="navbar-page-name navbar-brand link-light text-decoration-none"
        >Dashboard</a
      >
    </div>
    <button
      class="navbar-toggler btn-navbar"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon dark" style="color: #fff"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-light" routerLink="/mural">Vagas</a>
          <a class="nav-link link-light" routerLink="/painel">Cadastrar Vagas</a>
        </li>
      </ul>
    </div>
  </div>
</header>
